body {
  font-family: "Bitter", serif;
}

.fe-navbar {
  margin-bottom: 0px !important;
}
.fe-navbar {
  font-size: 18px;
}
.navbar-inverse .navbar-brand {
  margin-bottom: 0px !important;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.navbar-inverse,
.fe-navbar {
  border: none;
  height: 55px;
  background-color: #1dabb8;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 0px;
}
.fe-sidebar {
  height: 800px;
  background: #fafafa;
  margin-top: 2px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}
.fe-panel {
  background-color: #fafafa;
  border: none;
  margin-bottom: 0px;
}
.fe-form-group {
  margin-bottom: 0px;
}
.thumbnail {
  border: none;
  padding: 10px;
  color: #1dabb8;
  margin: 3px;
}
.thumbnail .item-icon {
  padding-bottom: 10px;
  color: #1dabb8;
  font-size: 30px;
}
.tree {
  color: #7a7a7a;
  padding: 5px 10px;
  font-size: 13px;
}
.tree .tree-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.tree .tree-item {
  padding: 5px;
}
.point{
  margin-right: 8px;
  font-size: 10px;
}
.tree .tree-item.depth-0 {
  padding-left: 00px;
}
.tree .tree-item.depth-1 {
  padding-left: 20px;
}
.tree .tree-item.depth-2 {
  padding-left: 40px;
}
.tree .tree-item.depth-3 {
  padding-left: 60px;
}
.tree .tree-item.depth-4 {
  padding-left: 80px;
}
.tree .tree-item.depth-5 {
  padding-left: 100px;
}
.tree .tree-item.depth-6 {
  padding-left: 120px;
}
.tree .tree-item.depth-7 {
  padding-left: 140px;
}
.tree .tree-item.depth-8 {
  padding-left: 160px;
}
.tree .tree-item.depth-9 {
  padding-left: 180px;
}
.tree .tree-item.depth-10 {
  padding-left: 200px;
}
.current-tree-item {
  background: rgb(238, 238, 238);
}
.react-contextmenu{
  min-width: 130px;
  margin: 2px 0 0;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  background-clip: padding-box;
  z-index: 1000;
}
.react-contextmenu-item{
  padding: 8px;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
}
.react-contextmenu-item--selected {
  background-color: #f5f5f5;
}